<a href="/">Home</a>
<h3>All Departments</h3>
<ul>
  <% @departments.each do |department| %>
    <li>
      <a href="/departments/<%= department.name %>" class="<%= department.name.parameterize.underscore %>">
        <%= department.name %>
      </a>
      <p><%= department.description %></p>
    </li>
  <% end %>
</ul>
