<h2>Welcome to turing</h2>
<a href="/departments" id="departments">Departments</a>
<a href="/categories" id="categories">Categories</a>
<p>
  We are a store for T-shirts!!! Yes, get your awesome tees here :D
</p>
