<a href="/">Home</a>
<a href="/categories">Categories</a>

<% @pdt_cat[:product_category].each do |category| %>
  <p>
    Category: <%= category.name %>
  </p>
<% end %>
<p>Product: <%= @pdt_cat[:product] %></p>
